

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>


        <form action="/Stok/Urn" method="post">

            <input type="text" name="StokKodu" />
            <input type="text" name="StokAdi" />

            <input type="submit" value="kyt">


        </form>
    </div>
</body>
</html>
